{

  "presets": [
    [
      "env", {
        "targets": {
          <% if(node) { %>"node": "current",<% } %>
          "browsers": ["last 2 versions", "ie >= 10"]
        },
        "modules": false,
        "loose": true
      }
    ]<% if (react) { %>,
    "react"<% } %>
  ],

  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"<% if(flow) {%>,
    "transform-flow-strip-types"<% } %>
  ],

  "env": {

    <% if (react) { %>"development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-stateless-component-name"
      ]
    },<% } %>

    <% if (jest) { %>"test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },<% } %>

    "production": {
      "plugins": [
        "lodash"<% if (react) { %>,
        "transform-react-remove-prop-types"<% } %>
      ]
    }

  }

}
