@import 'reset';

body {
  font-family: <% if(wfloader) { %>Roboto<% } else { %>'Helvetica neue', Helvetica, Arial, sans-serif<% } %>;
  font-size: 1.6rem;
  margin: 2rem;
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}
