<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Hello, <%= name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <% if(wfloader) { %><script>

    WebFontConfig = {
      // https://github.com/typekit/webfontloader/blob/master/README.md
      google: {
        families: ['Roboto']
      }
    };

    (function(d) {
    var wf = d.createElement('script'), s = d.scripts[0];
    wf.async = true;
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
    s.parentNode.insertBefore(wf, s);
    })(document);

  </script>
  <% } %>

</head>

<body>

  <% if(!react) { %><header>
    <h1>Hello, <%= name %></h1>
  </header><% } else { %>
  <div class='react-mount'>

  </div><% } %>

</body>

</html>
